@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

:root{
  font-family: "Open Sans", sans-serif;
}

app-root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  padding: 60px 5%;
  display: flex;
  flex-direction: column;
  gap:20px;
  flex-grow: 1;
}


h1{
  text-align: center;
  font-size: 24px;
}

table{
  width: 100%;
  border-collapse: collapse;
  color: #4B5C68;
}

tr{
  height: 70px;
}

tr:first-of-type{
  background-color: #E4EDF2;
  height: 40px;
  font-size: 12px;
}

td{
  font-size: 14px;
}
td b{
  font-size: 16px;
}

@media (max-width: 750px){
  .not-750 {
    display: none;
}
}
@media (max-width: 500px){
  .not-500 {
    display: none;
}
}